<body style="background-color:#ece0cf;">
<nav class="navbar navbar-light -lighbgt"style="background-color: #dbc3a3;">
  <span class="navbar-brand mb-0 h1"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Retrospective Dashboard</span>
</nav>

<br>
<br>

<div class="container">

  <div class="row">

   <%= render "whatwentwell"%>

   <%= render "whatwentwrong"%>
   
   <%= render "improvements"%>

   <%= render "actionitem"%>

  </div>

</div>

</body>



