<body style="background-color:#C0C0C0;">
    <nav class="navbar navbar-light -lighbgt" style="background-color: #989898;">
        <span class="navbar-brand mb-0 h1" style="color:black"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Retrospective Dashboard</span>
    </nav>

    <br>
    <br>

    <div class="container">

        <div class="row">

            <%= render "whatwentwell"%>

            <%= render "whatwentwrong"%>

            <%= render "improvements"%>

            <%= render "actionitem"%>

        </div>

    </div>

</body>