<body style="background-color:Gainsboro;">

<nav class="navbar navbar-light -lighbgt"style="background-color: #e3f2fd;">
  <span class="navbar-brand mb-0 h1">Retrospective Dashboard</span>
</nav>

<br>
<br>

<div class="container">

  <div class="row">

   <%= render "whatwentwell"%>

   <%= render "whatwentwrong"%>
   
   <%= render "improvements"%>

  </div>

</div>

</body>



