/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 
 @import "bootstrap";
 .card {
    border-radius: 20px;
    font-family: 'Handlee', 'Roboto', helvetica, cursive;
    color: black;
  }
  input[type=checkbox]:checked + label.form-check-label{
    text-decoration: line-through;
  }


.dropdown .dropdown-menu 
{
  color: white;
  background-color: #0097a7;
  border-color: #b91773;
  text-decoration-color: white ;
}
h1, h2, h3, h4, .sectionTitle {
  margin: 0.2em 0;
  font-family: 'Handlee', 'Roboto', helvetica, cursive;
  font-weight: bold;
}

.bg-info {
  background-color: #F0F8FF!important;
}
